body{
    margin: 0;
    padding: 0;
}

.bg{
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat-x;
    animation: animate 15s linier infinite;
}

.mobil{
    position: absolute;
    bottom: 0;
}
@keyframes animate{
    from{
        background-position: 0 0;
    }to{
        background-position: 100% 0;
    }
}
.slide {
    position:relative;
    margin:0 auto;
    width:1000px;
    height:490px;
    overflow:hidden
    }
    
    .slide input {
    display:block;
    position:absolute;
    width:960px;
    height:450px;
    left:0;
    top:0;
    opacity:0;
    cursor:pointer;
    margin:0;
    padding:0
    }
    
    .slide img {
    visibility:hidden;
    opacity:0;
    height:450px;
    position:absolute;
    left:0;
    top:0;
    width:960px;
    border:20px solid #ddd;
    border-radius:20px;
    transition:all .5s ease-out
    }
    
    .slide input:checked + img {
    visibility:visible;
    opacity:1
    }
    
    .slide input:checked { display:none }
    
    .slide input:nth-child(1) { z-index:13 }
    .slide input:nth-child(3) { z-index:12 }
    .slide input:nth-child(5) { z-index:11 }
    .slide input:nth-child(7) { z-index:10 }
    
    .slide input:nth-child(1):checked ~ input:nth-child(3),
    .slide input:nth-child(3):checked ~ input:nth-child(5),
    .slide input:nth-child(5):checked ~ input:nth-child(7) { z-index:15 }